/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

:root{
  --first-color: #5892FF;
  --second-color: #0E2431;
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
}





/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__item .active a {
  color: #e45820;
  
}
.nav__link{
  position: relative;
  color: rgb(254 254 254);
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--secondary-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}
/*=== Show menu icon ===*/
.menu-icon{
  display: block;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
  margin-top: 10%;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 250px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
  text-align: center;
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__html{
  width: 85%;
}
.skills__js{
  width: 60%;
}
.skills__jq{
  width: 75%;
}
.skills__shopify{
  width: 80%;
}
.skills__wp{
  width: 95%;
}
.skills__img{
  border-radius: .5rem;
}

/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}
.works__subtitle{
  margin-bottom: var(--mb-2);
}
.works__text{
  margin-bottom: var(--mb-4);
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
    margin-top: 15%;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 350px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}

.home__title span.fil {
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 2.5px #7e57c2;

}

.home__title span.fill::before {

  content: "";

  position: absolute;

  -webkit-text-fill-color: #4070f4;

  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  text-shadow: 1px 5px 20px #ff0120fa;

  animation: filling 1.35s 1s ease-in-out alternate infinite;

}

@keyframes filling {

  0% {

    content: "";

  }

  20% {

    content: "A";

  }

  40% {

    content: "Af";

  }

  60% {

    content: "Afz";

  }

  80% {

    content: "Afza";

  }

  100% {

    content: "Afzal";

  }

}

.contact a {
  width: 160px;
  background: linear-gradient(to right, blue, green);
  padding: 15px 15px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  margin: 0px 0px;
  border-radius: 20px;
  cursor: pointer;
  transition: width 0.5s;
}

.contact a img{
  width: 15px;
  display: none;
}

.contact a:hover img{
  display: block;
}

.contact a:hover{
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/*FILTER GALERY*/

/*--===== NEW GALLERY =====-*/

#container {
  margin: auto;
}


.grid-item {
  display: inline-block;
      height: 259px;
  
      overflow: hidden;
      text-align: center;
      width: 400px;
  }
  .grid-item img{
    width:100%;
    height:auto;
    filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
      transition: 0.9s;
  }
  .grid-item img:hover{
      filter: none;
  }
  
  .isotope-pager .pager {
    display: inline-block;
  }
  .filters {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    padding-top:20px;
    
  }
  
  .filters ul {
    list-style: none;
      padding: 20px 10px;
      box-shadow: -1px 1px 11px rgba(0,0,0,.4);
      margin: 0 40px;
      border-radius: 30px;
    background-color: transparent;
  }
  
  .filters li {
    display: inline-block;
      padding: 10px 25px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
  }
  .filters li a{
    color: #b6b6b6;
    text-decoration: none;
  }
  .filters li a:hover{
    color:#fff;
  }
  
  .filters li:hover {
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    border-radius: 15px;
  }
  
  .filters li.active a{
    color: #e3ca66;
    border: 1px solid #e3ca66;
    border-radius: 15px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    padding: 10px 25px;
    
  }
  
  
  
  .isotope-pager a{
    margin: 6px 1px;
      display: inline-block;
      width: 50px;
      /* height: 60px; */
      line-height: 31px;
      color: #b6b6b6;
      font-weight: 600;
      transition: 0.3s;
      /* position: relative; */
      /* padding-right: 26px; */
      box-shadow: -1px 1px 11px rgba(0,0,0,.1);
      border-radius: 25px;
      background-color: #232323;
      border: .5px solid #e3ca66;
    text-decoration:none;
  }
  
  .isotope-pager a:hover{
    color: #fff;
    border: .5px solid #ffeeac;
    box-shadow: -1px 1px 10px 3px rgba(0,0,0,.1);
  }
  
  .isotope-pager .active{
    color: #e3ca66 !important;
      box-shadow: -1px 1px 10px 5px rgba(0,0,0,.1);
      border-radius: 25px;
      background-color: #161616;
      border: 1px dotted #e3ca66;
  }
  
  .isotope-pager .prev{
    border-radius: 30px 0 0 30px;
  }
  
  .isotope-pager .next{
    border-radius: 0 30px 30px 0;
  }
  
  .isotope-pager a::before,.isotope-pager a:after{
    content: "";
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  .isotope-pager .num::before,.next::before{
    border-right: 20px solid #2c3e50;
    right: 100%;
  }
  
  .isotope-pager .num:after,.prev:after{
    border-right: 20px solid #f1f1f1;
    right: 0;
  }
  
  
  
  
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .grid-item:hover .overlay {
    opacity: 1;
  }
  

/* Clients Logo Slider */

.section-padding{
  padding: 20px 0;
  }
  .brand-carousel {
  background: aliceblue;
  margin-top: 2%;
  }
  .owl-dots {
  text-align: center;
  margin-top: 2%;
  }
  .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
  }
  .owl-dot.active {
  background-color: #000 !important;
  }
  single-logo {
    transition: 1s;
    cursor: pointer;
  }
  
